html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    user-select: none;
}

.app-logo {
    height: 90px;
    width: 90px;
    padding-top: 2em;
}

h1{
    font-size: 1.7em;
}

.main-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 450px;
    margin: 100px auto;
    background-color: #1B1924;
    color: white;
}
.endorsement-input {
    background-color: #444059;
    color: #8F8F8F;
    border-style: none;
    border-radius: 5px;
    min-height: 100px;
    width: 70%;
    padding: 0.5em;
    margin-bottom: 0.7em;
    box-sizing: border-box;
}
.endorsement-publish-btn {
    background-color: #28A9F1;
    color: #04131C;
    border-radius: 5px;
    min-height: 2em;
    width: 70%;
    padding: 0 0.5em;
    box-sizing: border-box;
    border-style: none;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0.7em;
}

#endorsement-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 0;
    width: 70%;
}

#endorsement-container li {
    background-color: white;
    color: #1B1924;
    list-style: none;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    width: 100%;
    box-sizing: border-box;
}